name: Continuous Integration with Github Actions

on:
  push:
   branches: 
     - master
     - docker

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Docker Login
      uses: docker/login-action@v2.0.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: maven
        
    - name: Create RSA Keys from Secrets
      run: |
        mkdir -p src/main/resources/certs
        echo "${{ secrets.JWT_PUBLIC_KEY }}" > src/main/resources/certs/public.key
        echo "${{ secrets.JWT_PRIVATE_KEY }}" > src/main/resources/certs/private.key
        
    - name: Build Aplication JAR
      run: mvn clean package

    
    - name: Docker Compose Build
      run: docker compose build
      
    - name: Push to Docker Hub Containter Registry
      run: |
        docker tag ${{ secrets.DOCKER_USERNAME }}/gym-stock-control:latest ${{ secrets.DOCKER_USERNAME }}/gym-stock-control:${{ github.run_id }}
        
        docker push ${{ secrets.DOCKER_USERNAME }}/gym-stock-control:${{ github.run_id }}
        docker push ${{ secrets.DOCKER_USERNAME }}/gym-stock-control:latest
